<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>Resque.</title>

    <link rel="stylesheet" href="{{ asset('bundles/allprogrammicresque/stylesheets/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/allprogrammicresque/stylesheets/application.css') }}" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <img src="{{ asset('bundles/allprogrammicresque/images/lifebuoy.png') }}" class="logo" />
                <a href="{{ path('resque_overview') }}" class="brand navbar-brand">Resque</a>
                <div class="nav-collapse navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li{% block link_overview_attr %}{% endblock %}>
                            <a href="{{ path('resque_overview') }}">Overview</a>
                        </li>
                        <li{% block link_working_attr %}{% endblock %}>
                            <a href="{{ path('resque_working') }}">Working</a>
                        </li>
                        <li{% block link_failures_attr %}{% endblock %}>
                            <a href="{{ path('resque_failures') }}">Failures</a>
                        </li>
                        <li{% block link_queues_attr %}{% endblock %}>
                            <a href="{{ path('resque_queues') }}">Queues</a>
                        </li>
                        <li{% block link_workers_attr %}{% endblock %}>
                            <a href="{{ path('resque_workers') }}">Workers</a>
                        </li>
                        <li{% block link_stats_attr %}{% endblock %}>
                            <a href="{{ path('resque_stat') }}">Stats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="main">
        {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        <div class="container">
            <p>Powered by <a href="http://github.com/resque/resque">Resque</a></p>
            <p>Connected to Redis namespace {{ resque_namespace() }} on {{ resque_server() }}</p>
        </div>
    </footer>

</body>
</html>