{% extends 'AllProgrammicResqueBundle::layout.html.twig' %}

{% block link_delayed_attr %} class="active"{% endblock %}

{% block content %}
<h1>All Delayed Jobs</h1>

<p class="sub">Showing {{ pager.currentFrom }} to {{ pager.currentCount }} of <b>{{ pager.count }}</b> jobs</p>

<table class="table table-bordered workers">
    <tr>
        <th>Start at</th>
        <th>Class</th>
        <th>Queue</th>
        <th>Args</th>
    </tr>
    {% for id, job in jobs %}
        {{ include('AllProgrammicResqueBundle:delayed:_delayed_job.html.twig', {id: id, job: job}, with_context=false) }}
    {% else %}
        <tr>
            <td colspan="4" class="no-data">Nothing is delayed right now...</td>
        </tr>
    {% endfor %}
</table>

{{ pagination(pager, 'resque_delayed') }}

{% endblock %}