{% extends 'AllProgrammicResqueBundle::layout.html.twig' %}

{% block link_failures_attr %} class="active"{% endblock %}

{% block content %}
    {% if jobs | length %}
    <div class="form-group pull-right">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('resque_failures_clear') }}">
                <i class="glyphicon glyphicon-trash"></i> Clear ALL
            </a>
        </div>
        <div class="btn-group">
            <a class="btn btn-warning btn-sm" href="{{ path('resque_failures_refresh') }}">
                <i class="glyphicon glyphicon-repeat"></i> Retry & clear ALL
            </a>
        </div>
    </div>
    {% endif %}

    <h1>All Failure Queues</h1>
    <p class="sub">Showing {{ pager.currentFrom }} to {{ pager.currentCount }} of <b>{{ pager.count }}</b> jobs</p>

    <ul class="failed">
        {% for id, job in jobs %}
            {{ include('AllProgrammicResqueBundle:failures:_failed_job.html.twig', {id: id, job: job}, with_context=false) }}
        {% endfor %}
    </ul>

    {{ pagination(pager, 'resque_failures') }}
{% endblock %}