<h1 class="wi">{{ workers|length }} Workers {% if hostname != 'all' %}on {{ hostname }}{% endif %}</h1>
<p class="intro">The workers listed below are all registered as active on your system.</p>
<table class="table table-striped workers">
    <tr>
        <th>&nbsp;</th>
        <th>Started at</th>
        <th>Where</th>
        <th>Queue</th>
        <th>Processing</th>
        <th>Processed</th>
        <th>Failed</th>
        <th>Last activity</th>
    </tr>
    {% for worker in workers %}
        <tr>
            <td>
                <img src="{{ asset('bundles/allprogrammicresque/images/' ~ (worker.idle ? 'idle' : 'working') ~ '.png') }}" alt="" />
            </td>
            <td>
                {{ date(worker.getStartedAt) | date('Y-m-d H:i:s')}}
            </td>
            <td class="where">
                <a href="#">{{ worker.host }}:{{ worker.pid }}</a>
            </td>
            <td class="queues queue">
                {% for queue in worker.queues %}
                    <a href="#" class="label label-info">{{ queue }}</a>
                {% endfor %}
            </td>
            <td class="process">
                {% if worker.job is defined and worker.job %}
                    <code>{{ worker.job.payload.class }}<br />{{ worker.job.payload.args|first|resque_inspect }}</code>
                    <small>{{ worker.job.run_at }}</small>
                {% else %}
                    <span class="waiting">Waiting for a job...</span>
                {% endif %}
            </td>
            <td>
                <span class="label label-success">
                    {{ worker.getProcessed }} processed
                </span>
            </td>
            <td>
                <span class="label label-danger">
                    {{ worker.getFailed }} failed
                </span>
            </td>
            <td>
                <span class="label label-warning text-center">
                    {% set diff = date().diff(date(worker.getHeartbeat)) %}
                    {{ diff.s }} seconds ago
                </span>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8" class="no-data">There are no registered workers</td>
        </tr>
    {% endfor %}
</table>
