<h1 class="wi">{{ workers|length }} Workers {% if hostname != 'all' %}on {{ hostname }}{% endif %}</h1>
<p class="intro">The workers listed below are all registered as active on your system.</p>
<table class="table table-bordered workers">
    <tr>
        <th>&nbsp;</th>
        <th>Where</th>
        <th>Queue</th>
        <th>Processing</th>
    </tr>
    {% for worker in workers %}
        <tr>
            <td class="icon">
                <img src="{{ asset('bundles/allprogrammicresque/images/' ~ (worker.idle ? 'idle' : 'working') ~ '.png') }}" alt="" />
            </td>
            <td class="where">
                <a href="#">{{ worker.host }}:{{ worker.pid }}</a>
            </td>
            <td class="queues queue">
                {% for queue in worker.queues %}
                    <a href="#" class="label label-info">{{ queue }}</a>
                {% endfor %}
            </td>
            <td class="process">
                {% if worker.job is defined and worker.job %}
                    <code>{{ worker.job.payload.class }}<br />{{ worker.job.payload.args|first|resque_inspect }}</code>
                    <small>{{ worker.job.run_at }}</small>
                {% else %}
                    <span class="waiting">Waiting for a job...</span>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="no-data">There are no registered workers</td>
        </tr>
    {% endfor %}
</table>
