<tr>
    <td>
        <a href="{{ path('resque_recurring_history', {id: id}) }}">
            {{ job.name }}
        </a>
    </td>
    <td>
        {{ job.description }}
    </td>
    <td>
        <code>{{ job.class }}</code>
    </td>
    <td>
        <a class="label label-info" href="#">
            {{ job.queue }}
        </a>
    </td>
    <td>
        {{ job.cron }}
    </td>
    <td class="text-right">
        {% if job.active is not defined or job.active %}
            <a class="btn btn-sm btn-danger" href="{{ path('resque_recurring_disable', {id: id}) }}" title="Disable">
                <i class="glyphicon glyphicon-pause"></i> Disable
            </a>
        {% else %}
            <a class="btn btn-sm btn-success" href="{{ path('resque_recurring_enable', {id: id}) }}" title="Enable">
                <i class="glyphicon glyphicon-play"></i> Enable
            </a>
        {% endif %}
        <a class="btn btn-sm btn-default" href="{{ path('resque_recurring_start', {id: id}) }}" title="Start now">
            <i class="glyphicon glyphicon-forward"></i>
        </a>
        <a class="btn btn-sm btn-default" href="{{ path('resque_recurring_history', {id: id}) }}" title="History">
            <i class="glyphicon glyphicon-list-alt"></i>
        </a>
        <a class="btn btn-sm btn-default" href="{{ path('resque_recurring_update', {id: id}) }}" title="Update">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn btn-sm btn-danger" href="{{ path('resque_recurring_remove', {id: id}) }}" title="Remove">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </td>
</tr>