{% extends '@AllProgrammicResque/mails/base.html.twig' %}

{% block content %}
    <p><strong>Date</strong><br/>{{ failed_at.date|default('Failed at') }}</p>
    <p><strong>Class</strong><br/>{{ payload.class|default('Class') }}</p>
    <p><strong>Exception</strong><br/>{{ exception|default('Exception') }}</p>
    <p><strong>Erreur</strong><br/>{{ error|default('Error') }}</p>

    {% if backtrace|default|length %}
        {% for value in backtrace %}
            {{ value }}<br/>
        {% endfor %}
    {% endif %}
{% endblock %}